<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="wrapper" >
        <img class="logo" src="../images/fabryque_logo.png"/>
            <div id="all-customers-btn"><button>All Customers</button></div>
            <article>
                <div class="cards">
                    <table>
                        <thead>
                          <tr>
                            <th class="customer-id">ID</th>
                            <th class="customer-name">Name</th>
                            <th class="customer-gender">Gender</th>
                            <th class="customer-email">Email</th>
                            <th class="customer-city-of-birth">City of Birth</th>
                            <th class="temperature">Temperature</th>
                          </tr>
                         </thead>
                         <tbody id="customer-container">
                            <!-- RENDER CUSTOMERS -->
                        </tbody>
                      </table>
                </div>
            </article>
    </div>
    <footer>Copyright 2022 Athena Su</footer>
    <script src="../public/js/script.js"></script>
</body>


</html>